<p align="center">
    <img alt="InoxTools" width="350px" src="https://github.com/Fryuni/inox-tools/blob/main/assets/shield.png?raw=true"/>
</p>

# {{ titleCase name }}

{{ description }}

## Install

```js
npm i @inox-tools/{{ dashCase name }}
```

Add the integration to your `astro.config.mjs`:

```js
// astro.config.mjs
import { defineConfig } from 'astro'
import {{ camelCase name }} from '@inox-tools/{{ dashCase name }}';

export default defineConfig({
    integrations: [{{ camelCase name }}({})]
})
```
