---
import { getEntryGitInfo } from '@it-astro:content/git';
import { getCollection } from 'astro:content';
import { logger as integrationLogger } from '@it-astro:logger:test-integration';
import { logger } from '@it-astro:logger';
import Foo from '../component/Foo.astro';

const entries = await getCollection('blog');

integrationLogger.info(`Retrieved ${entries.length} entries`);
logger.info(`Retrieved ${entries.length} entries`);

const infos = await Promise.all(
	entries.map(async (entry) => {
		const info = await getEntryGitInfo(entry);

		return [entry, info] as const;
	})
);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<Foo />
		<ul>
			{
				infos.map(([entry, fileInfo]) => (
					<li>
						Entry "{entry.slug}" of collection "{entry.collection}":
						<pre set:html={JSON.stringify(fileInfo, null, 2)} />
					</li>
				))
			}
		</ul>
	</body>
</html>
